In [1]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append(f"{name} ({quantity}: {unit})")

In [2]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append(f"{name} ({quantity}: {unit})")
    return grocery_list

In [6]:
store1 = []
store2 = []

In [7]:
add_item('banana', 2, 'units', store1)
add_item('milk', 1, 'liter', store1)

['banana (2: units)', 'milk (1: liter)']

In [8]:
add_item('python', 1, 'medium-rare', store2)

['python (1: medium-rare)']

In [9]:
print(store2)

['python (1: medium-rare)']

In [10]:
print(store1)

['banana (2: units)', 'milk (1: liter)']

In [11]:
def add_item(name, quantity, unit, grocery_list=[]):
    grocery_list.append(f"{name} ({quantity}: {unit})")
    return grocery_list

In [19]:
del store1
del store2

In [21]:
del store1

In [24]:
del store1

In [26]:
store1 = add_item('banana', 2, 'units') #creates the list
add_item('milk', 1, 'liter', store1)

['banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)']

In [28]:
store2 = add_item('python', 1, 'medium-rare')

In [29]:
store2

['banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'banana (2: units)',
 'milk (1: liter)',
 'python (1: medium-rare)']

In [30]:
print(store1)

['banana (2: units)', 'milk (1: liter)', 'banana (2: units)', 'milk (1: liter)', 'banana (2: units)', 'milk (1: liter)', 'banana (2: units)', 'milk (1: liter)', 'banana (2: units)', 'milk (1: liter)', 'python (1: medium-rare)']

In [31]:
store1 is store2

True

In [32]:
def add_item(name, quantity, unit, grocery_list=None):
    if not grocery_list:
        grocery_list = []
    grocery_list.append(f"{name} ({quantity}: {unit})")
    return grocery_list

In [33]:
store1 = add_item('banana', 2, 'units') #creates the list
add_item('milk', 1, 'liter', store1)

['banana (2: units)', 'milk (1: liter)']

In [34]:
store1

['banana (2: units)', 'milk (1: liter)']

In [35]:
store2 = add_item('python', 1, 'medium-rare')

In [36]:
store2

['python (1: medium-rare)']

In [37]:
store1 is store2

False

In [38]:
def add_item(name, quantity, unit, grocery_list=None):
    grocery_list = grocery_list or []
    grocery_list.append(f"{name} ({quantity}: {unit})")
    return grocery_list

In [39]:
del store1
del store2

In [40]:
store1 = add_item('banana', 2, 'units') #creates the list
add_item('milk', 1, 'liter', store1)

['banana (2: units)', 'milk (1: liter)']

In [41]:
store2 = add_item('python', 1, 'medium-rare')

In [42]:
store2

['python (1: medium-rare)']

In [43]:
store1 is store2

False

In [48]:
def factorial(n):
    if n < 1:
        return 1
    else:
        print(f'calculating {n}!')
        return n * factorial(n-1)

In [49]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [50]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [52]:
factorial(4)

calculating 4!
calculating 3!
calculating 2!
calculating 1!

24

In [53]:
factorial(0)

1

In [54]:
cache = {}
def factorial(n, *, cache):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print(f'calculating {n}!')
        result = n * factorial(n-1, cache=cache)
        cache[n] = result
        return result

In [55]:
def factorial(n, *, cache):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print(f'calculating {n}!')
        result = n * factorial(n-1, cache=cache)
        cache[n] = result
        return result

In [56]:
cache= {}

In [57]:
factorial(3, cache=cache)

calculating 3!
calculating 2!
calculating 1!

6

In [58]:
print(cache)

{1: 1, 2: 2, 3: 6}

In [59]:
factorial(3, cache=cache)

6

In [60]:
factorial(4, cache=cache)

calculating 4!

24

In [65]:
def factorial(n, cache={}):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print(f'calculating {n}!')
        result = n * factorial(n-1)
        cache[n] = result
        return result

In [66]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [67]:
factorial(4)

calculating 4!

24